# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env
*.db

# Node
node_modules/
dist/
frontend/dist/

# Uploads
uploads/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
